* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.82rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-pequeno {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo {
    font-weight: 800;
}

.game-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    max-width: 800px; 
}

.story-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 25px;
    border: 3px solid;
}

.story-text {
    font-size: 1.2rem;
    line-height: 1.7;
    min-height: 100px;
    text-align: left;
    margin-bottom: 30px;
}

.choices-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.choice-button {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: left;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.choice-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 10px;
    margin: 30px 20px 20px 20px;
    margin-top: auto; 
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    text-decoration: underline;
    font-weight: 500;
}