:root {
    --cor01: #D96299;
    --cor02: #745549;
    --cor03: #43291F;
    --cor04: #43291fd6;
    --cor05: #ff007780;
}

header {
    background-color: #43291f73;
    padding: 0.82rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
}

.logo {
    font-weight: 800;
    color: #fff;
    padding-left: 1%;
}

.logo .realce {
    color: var(--cor01);
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.logo-pequeno {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

body {
    background: url("assets/img/capa-02.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

.conteudo-jogo {
    background: var(--cor04);
    box-shadow: 0 0 5px var(--cor01);
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
}

#menu-aventuras {
    margin-top: 30px;
}

button {
  width: 180px; 
  padding: 20px 10px;
  margin: 6px auto;
  border: none;
  border-radius: 8px; 
  background-color: var(--cor01);
  color: var(--cor03); 
  font-size: 16px;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: whitesmoke;
}

footer {
    text-align: center;
    padding: 0.82rem 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    background-color: #43291f73;
    border-radius: 10px;
    margin: 30px 0 0 0;
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: var(--cor01);
    text-decoration: underline;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
}